@using Sandbox.UI
@inherits Panel
@namespace Ultraneon.UI
@attribute [StyleSheet]

<root>
	<div class="ammo-display">
		<div class="current-ammo">@CurrentAmmo</div>
		<div class="ammo-separator">/</div>
		<div class="max-ammo">@MaxAmmo</div>
	</div>
</root>

@code
{
	[Property]
	public PlayerInventory Inventory { get; set; }

	public int CurrentAmmo { get; set; }
	public int MaxAmmo { get; set; }

	public override void Tick()
	{
		if ( Inventory?.ActiveWeapon == null )
		{
			CurrentAmmo = -1;
			MaxAmmo = -1;
			return;
		}

		CurrentAmmo = Inventory.ActiveWeapon.CurrentAmmo;
		MaxAmmo = Inventory.ActiveWeapon.ClipSize;
	}
}
