@using Sandbox.UI
@inherits Panel
@namespace Ultraneon.UI
@attribute [StyleSheet]

<root>
	<div class="ammo-display">
		<div class="current-ammo">@CurrentAmmo</div>
		<div class="ammo-separator">/</div>
		<div class="max-ammo">@MaxAmmo</div>
	</div>
</root>

@code
{
	[Property]
	public WeaponBaseNeon Weapon { get; set; }

	public int CurrentAmmo { get; set; }
	public int MaxAmmo { get; set; }

	public override void Tick()
	{
		if ( Weapon == null )
		{
			CurrentAmmo = -1;
			MaxAmmo = -1;
			Log.Info( "AmmoPanel Tick: No weapon" );
			return;
		}

		CurrentAmmo = Weapon.CurrentAmmo;
		MaxAmmo = Weapon.ClipSize;
		Log.Info( $"AmmoPanel Tick: {CurrentAmmo} / ${MaxAmmo}" );
		StateHasChanged(); // FIXME: We shouldn't need to call this manually
	}

	protected override int BuildHash()
	{
		if ( !Weapon.IsValid() ) return 0;

		var hash = System.HashCode.Combine(
			Weapon.CurrentAmmo,
			Weapon.ClipSize,
			Weapon.WeaponType
		);

		return hash;
	}
}
